<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookManageSystem</display-name>
  <servlet>
    <description>添加图书</description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlet.AddBook</servlet-class>
  </servlet>
  <servlet>
    <description>登陆校验，并发送cookie</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>根据书名删除图书</description>
    <display-name>删除图书</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>servlet.DeleteBook</servlet-class>
  </servlet>
  <servlet>
    <description>根据旧书名修改图书</description>
    <display-name>修改图书</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>servlet.UpdateBook</servlet-class>
  </servlet>
  <servlet>
    <description>依据需求查询图书</description>
    <display-name>查询图书</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>servlet.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/servlet/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/servlet/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/servlet/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/servlet/SearchBook</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>login</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
    <init-param>
      <param-name>excludePages</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>excludePages</param-name>
      <param-value>/register.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>